{% extends 'base.html' %} {% block content %} {% if object_list %}
<div class="post-new">
  <div class="post-new-wrapper container">
    <div class="post-new__text">
      <div class="post-new__new">NEW</div>
      <div class="post-new__title">
        {{object_list.0.title}}
      </div>
      <div class="post-new__content">{{object_list.0.content|safe}}</div>
      <a href="{{object_list.0.get_absolute_url}}">
        <div class="button post-new__button">
          Читать
        </div>
      </a>
    </div>
    <div class="post-new__image">
      <img src="{{object_list.0.image.url}}" style="width: 100%;" />
    </div>
  </div>
</div>
{% else %}
<div class="container post-new__title">Нет постов..</div>
{% endif %} {% if object_list|length > 1 %}
<div class="another-posts container">
  <div class="another-posts__text">
    Другие статьи
  </div>
  <div class="another-posts__grid">
    {% for post in object_list|slice:"1:" %}
    <a href="{{post.get_absolute_url}}">
      <div class="post-card">
        <div class="post-card__date">
          {{post.published_date |date:"d M Y h:i" }}
        </div>
        <div class="post-card__image">
          <img src="{{post.image.url}}" style="width: 100%;" />
        </div>
        <div class="post-card__title">
          {{post.title}}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %} {% endblock %}
