{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>Kodland Blog</title>
  </head>
  <body>
    <div class="header">
      <div class="header__wrapper container">
        <a href="/" class="header__logo">
          <img src="{% static 'images/Logo_Kodland.png' %}" />
          <span class="header__text">Блог</span>
        </a>
        <a href="{% url 'blog:create_post' %}">
          <div class="header__button button">
            + Добавить статью
          </div>
        </a>
      </div>
    </div>
    {% block content %} {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
